@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3728 Berkshire Road<br />
    Richmond Virginia, 45701<br />
    <abbr title="Phone">P:</abbr>
    614.940.0516
</address>

<address>
    <strong>Support:</strong>   <a href="Rt334015@ohio.edu">Rt334015@ohio.edu</a><br />
   
</address>