@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rick Thiebout</h1>
    <p class="lead">Hello! My name is Rick Thiebout and i am a Management Information Systems and Business Analytics Major at Ohio University. Welcome to my website!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Phi Kappa Psi</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/7/79/Phi_Kappa_Psi_coat_of_arms.png" alt="PhiPsi" height="300">
        <p>
            I rushed Phi Kappa Psi as a freshman in college and was active rectruiting head for 2 years.
        </p>
        <p><a class="btn btn-default" href="https://www.phikappapsi.com/">Phi Kappa Psi Homepage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <img src="https://cdn.shopify.com/s/files/1/0241/9737/products/OHU-1008-forest_2_48fcad47-7214-4e3a-a3d2-faec4879b1cc_1800x.jpg?v=1571442988" alt="OU" height="300">
        <p>
            I have attended Ohio University for 3.5 years and expect to graduate this May with a degree in Management Information Systems and Business Analytics.

            <br />
            @Html.ActionLink("Doctor", "Index", "Doctors")
            <br />
            @Html.ActionLink("Patient", "Index", "Patients")
            <br />
            @Html.ActionLink("Appointment", "Index", "Appointments")
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Ohio University &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My LinkedIn</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="LinkedIn" height="300">
        <p>
            This is my official LinkedIn profile
            


        </p>
        <p><a class="btn btn-default" href="https://www.theworldsworstwebsiteever.com/">Ohio University &raquo;</a></p>
        
    </div>